<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", "#", class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home_title"), root_path %></li>
        <li><%= link_to t("help_title"), help_path %></li>
        <li><%= link_to t("log_in"), "#" %></li>
        <li><%= link_to t(".en"), locale: :en %></li>
        <li><%= link_to t(".vi"), locale: :vi %></li>
      </ul>
    </nav>
  </div>
</header>
